<!DOCTYPE html>
{% extends "CSCI4650850FinalProjectapp/base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'CSCI4650850FinalProjectapp/icons8-favicon-50.ico' %}">
    <title>Upload and Display Images</title>
    <link rel="stylesheet" href="{% static 'CSCI4650850FinalProjectapp/style.css' %}"/>
</head>
<body>
    <h2>Upload Images</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button class="button" type="submit">Upload</button>
        </div>
    </form>
</body>
{% endblock %}