{% extends "CSCI4650850FinalProjectapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'CSCI4650850FinalProjectapp/icons8-favicon-50.ico' %}">
    <link rel="stylesheet" href="{% static 'CSCI4650850FinalProjectapp/style.css' %}"/>
    <title>ImageWebsite</title>

</head>
        <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login here!!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
<!--                <button class="btn btn-outline-info" type="submit">Login</button>-->
                <button class="button" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a> </small>
            </div>
        </form>
        </div>
<!--<div class="custom-login-container">-->
<!--    <div class="custom-login-box">-->
<!--        <h2>Login</h2>-->
<!--        <form class="custom-login-form" method="POST">-->
<!--            {% csrf_token %}-->
<!--            <div class="custom-textbox">-->
<!--                <input type="text" placeholder="Username" required>-->
<!--            </div>-->
<!--            <div class="custom-textbox">-->
<!--                <input type="password" placeholder="Password" required>-->
<!--            </div>-->
<!--            <button class="btn btn-outline-info" type="submit">Sign In</button>-->
<!--            <div class="custom-bottom-text">-->
<!--                <p>Don't have an account? <a href="{% url 'register' %}">Sign up here</a></p>-->
<!--                <a href="{% url 'password_reset' %}">Forgot Password?</a>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
{% endblock content %}