{% extends "CSCI4650850FinalProjectapp/base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'CSCI4650850FinalProjectapp/icons8-favicon-50.ico' %}">
    <link rel="stylesheet" href="{% static 'CSCI4650850FinalProjectapp/style.css' %}"/>
    <title>ImageWebsite</title>
</head>
            <h2>You have logged out</h2>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a class="ml-2" href="/">Home Page</a>
                </small>
            </div>

{% endblock content %}