{% extends "CSCI4650850FinalProjectapp/base.html" %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'CSCI4650850FinalProjectapp/icons8-favicon-50.ico' %}">
    <link rel="stylesheet" href="{% static 'CSCI4650850FinalProjectapp/style.css' %}"/>
    <title>ImageWebsite</title>
</head>
            <div class="alert alert-info">
            Your password has been set.
            </div>
        <a href="{% url 'login' %}">Sign In here</a>
{% endblock content %}