{% extends "CSCI4650850FinalProjectapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    legend.centered-legend {
    text-align: center;
    width: 100%; /* Optional, depending on your layout */
    margin: 0 auto; /* Centers the element horizontally */
}
</style>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'CSCI4650850FinalProjectapp/icons8-favicon-50.ico' %}">
    <link rel="stylesheet" href="{% static 'CSCI4650850FinalProjectapp/style.css' %}"/>
    <title>ImageWebsite</title>
</head>

<div class="custom-login-container">
    <div class="custom-login-box">

<div class="content-section">
<form method="POST" >
    {% csrf_token %}
    <fieldset class="form-group">
                <legend class="border-bottom mb-2 centered-legend" >Sign Up </legend>
                {{ form|crispy }}
    </fieldset>
     <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
                <small class="text-muted ml-2">
                    Already having account <a href="{% url 'login' %}">click here</a> </small>
            </div>
        </form>
        </div>
        </div>
        </div>
{% endblock content %}